### Este notebook nos facilitará la codificación o caracterización por propiedades de las secuencias

Este notebook hace:

1. Lee el dataset de secuencias
2. Maneja las secuencias y extrae random de cada clase
3. Caracteriza las secuencias usando propiedades fisicoquímicas

In [1]:
pip install pandas modlamp

Requirement already satisfied: pandas in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (2.3.2)
Requirement already satisfied: modlamp in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (4.3.2)
Requirement already satisfied: numpy>=1.26.0 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: setuptools>=20.2.2 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from modlamp) (78.1.1)
Requirement already satisfied: nose>=1.3.7 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from modlamp) (1.3.7)
Requirement already satisfied: scipy>=0.17.0 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from modlamp) (1.16.1)
Requirement already satisfied: matplotlib>=1.5.1 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from modlamp) (3.10.5)
Requirement already satisfied: scikit-learn>=0.18.0 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from modlamp) (1.7.1)
Requirement already satisfied: requests>=2.11.1 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from modlamp) (2.32.5)
Requirement already satisfied: lxml>=3.6.4 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from modlamp) (6.0.1)
Requirement already satisfied: joblib>=0.15.1 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from modlamp) (1.5.1)
Requirement already satisfied: mysql-connector-python>=8.0 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from modlamp) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from matplotlib>=1.5.1->modlamp) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from matplotlib>=1.5.1->modlamp) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from matplotlib>=1.5.1->modlamp) (4.59.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from matplotlib>=1.5.1->modlamp) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from matplotlib>=1.5.1->modlamp) (25.0)
Requirement already satisfied: pillow>=8 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from matplotlib>=1.5.1->modlamp) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from matplotlib>=1.5.1->modlamp) (3.2.3)
Requirement already satisfied: six>=1.5 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from requests>=2.11.1->modlamp) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from requests>=2.11.1->modlamp) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from requests>=2.11.1->modlamp) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from requests>=2.11.1->modlamp) (2025.8.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/david/miniconda3/envs/machine_learning_2025/lib/python3.13/site-packages (from scikit-learn>=0.18.0->modlamp) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

- Seccion import libraries/modules

In [2]:
import pandas as pd
import numpy as np
from modlamp.descriptors import GlobalDescriptor

- Seccion de implementación de funciones auxiliares

In [3]:
def mw(sequence):
    gd = GlobalDescriptor([sequence])
    gd.calculate_MW(amide=True)
    val = float(np.round(gd.descriptor[0][0], 5))
    return val

In [4]:
def isoelectric_point(sequence):
    gd = GlobalDescriptor([sequence])
    gd.isoelectric_point(amide=True)
    val = float(np.round(gd.descriptor[0][0], 5))
    return val

In [5]:
def charge_density(sequence):
    gd = GlobalDescriptor([sequence])
    gd.charge_density(amide=True)
    val = float(np.round(gd.descriptor[0][0], 5))
    return val

In [6]:
def instability_index(sequence):
    gd = GlobalDescriptor([sequence])
    gd.instability_index()
    val = float(np.round(gd.descriptor[0][0], 5))
    return val

In [7]:
def boman_index(sequence):
    gd = GlobalDescriptor([sequence])
    gd.boman_index()
    val = float(np.round(gd.descriptor[0][0], 5))
    return val

In [8]:
def hydrophobic_ratio(sequence):
    gd = GlobalDescriptor([sequence])
    gd.hydrophobic_ratio()
    val = float(np.round(gd.descriptor[0][0], 5))
    return val

In [9]:
df = pd.read_csv("../raw_data/demo_amp.csv")
df.head(5)

                                            sequence  label
0                                    QEDCELCINVACTGC      0
1  MAATTTATSLFSSRLHFQNQNQGYGFPAKTPNSLQVNQIIDGRKMR...      0
2                                    SKGKKANKDVELARG      1
3                                     ADLEVVAATYVLVA      1
4   MAESPSESTSDSLSTTTSTKPAQSGTVSISSPQSHHVVFPEIPIEIVS      0

In [10]:
df.shape

(21220, 2)

In [11]:
df["label"].value_counts()

label
0    10610
1    10610
Name: count, dtype: int64

In [12]:
df[:10]

                                            sequence  label
0                                    QEDCELCINVACTGC      0
1  MAATTTATSLFSSRLHFQNQNQGYGFPAKTPNSLQVNQIIDGRKMR...      0
2                                    SKGKKANKDVELARG      1
3                                     ADLEVVAATYVLVA      1
4   MAESPSESTSDSLSTTTSTKPAQSGTVSISSPQSHHVVFPEIPIEIVS      0
5               MLRFTHVLNNGAKRSALSLGRSYLRGFGSMHGPRVA      0
6                                MFRRAAFIKPRLTGFIRFN      0
7              ISIGIKCSPSIDLCEGQCRIRKYFTGYCSGDTCHCSG      0
8  AISCGQVSSALSPCISYARGNGAKPPVACCSGVKRLAGAAQSTADK...      1
9                                     STQEVSGHPEHHLV      0

In [13]:
matrix_data = []

for sequence in df["sequence"].values:
    row = [
        mw(sequence),
        charge_density(sequence),
        hydrophobic_ratio(sequence)
    ]
    matrix_data.append(row)

df_1 = pd.DataFrame(data=matrix_data, columns=["mw", "charge_density", "hydrophobic_ratio"])
df_1

            mw  charge_density  hydrophobic_ratio
0      1599.84        -0.00142            0.53333
1      5854.58         0.00087            0.37037
2      1599.84         0.00250            0.26667
3      1432.67        -0.00070            0.71429
4      4971.40        -0.00056            0.27083
...        ...             ...                ...
21215  5109.73        -0.00076            0.39583
21216  3794.47         0.00134            0.44118
21217  2823.28        -0.00121            0.57692
21218  2991.63         0.00064            0.53571
21219  1912.64         0.00411            0.56250

[21220 rows x 3 columns]

In [14]:
df = pd.concat([df, df_1], axis=1)
df.head(5)

,sequence,label,mw,charge_density,hydrophobic_ratio
0,QEDCELCINVACTGC,0,1599.84,-0.00142,0.53333
1,MAATTTATSLFSSRLHFQNQNQGYGFPAKTPNSLQVNQIIDGRKMR...,0,5854.58,0.00087,0.37037
2,SKGKKANKDVELARG,1,1599.84,0.00250,0.26667
3,ADLEVVAATYVLVA,1,1432.67,-0.00070,0.71429
4,MAESPSESTSDSLSTTTSTKPAQSGTVSISSPQSHHVVFPEIPIEIVS,0,4971.40,-0.00056,0.27083

In [15]:
df["boman_index"] = df["sequence"].apply(boman_index)
df["isoelectric_point"] = df["sequence"].apply(isoelectric_point)
df["instability_index"] = df["sequence"].apply(instability_index)

In [16]:
df.to_csv("../results/procesed_data.csv", index=False)