In [13]:
import warnings
warnings.filterwarnings("ignore")

In [14]:
import pandas as pd

In [15]:
df_gambarini = pd.read_csv("../../processed_data/Gambarini et al./processed_dataset.csv")
df_hasnat = pd.read_csv("../../processed_data/Hasnat et al./processed_dataset.csv")

In [16]:
df_hasnat.head()

,id_seq,sequence,plastic_degrading_enzyme
0,sp|O42412|IOD3_CHICK,AACILLFPRFLLTAVMLWLLDFLCIRKKMLTMPTAEEAAGAGEGPP...,0
1,sp|P35915|HMGCL_CHICK,AFPQRVKVVEVGPRDGLQNEKSVVPTPVKIRLIDMLSETGLPVIEA...,0
2,sp|Q7SIC3|SODM_VIRHA,AKFELPELPYAYDALEPTIDKETMNIHHTKHHNTYVTKLNGALEGH...,0
3,00136,ANPYERGPDPTESSIEAVRGPFAVAQTTVSRLQADGFGGGTIYYPT...,1
4,00106,ANPYERGPNPTDALLEARSGPFSVSEENVSRLSASGFGGGTIYYPR...,1

In [17]:
df_gambarini.head()

,plastic,sequence,plastic_degrading_enzyme
0,Ecoflex,MRIRRQAGTGARASMARAIGVMTTALAVLVGAVGGVAGAEVSTAQD...,1
1,Nylon,MNTTPVHALTDIDGGIAVDPAPRLAGPPVFGGPGNDAFDLAPVRST...,1
2,Nylon,MNARSTGQHPARYPGAAAGEPTLDSWQEAPHNRWAFARLGELLPTA...,1
3,Nylon,MNTTPVHALTDIDGGIAVDPAPRLAGPPVFGGPGNDAFDLAPVRST...,1
4,Nylon,MLRFDFPGVSIGAAHYEEGPTGATVIHIPAGARTAVDARGGAVGLS...,1

In [18]:
unique_sequences = df_hasnat["sequence"].tolist() + df_gambarini["sequence"].tolist()
unique_sequences = list(set(unique_sequences))

df_pivote = pd.DataFrame()
df_pivote["sequence"] = unique_sequences
df_pivote.shape

(1659, 1)

In [19]:
df_pivote["is_in_hasnat"] = df_pivote["sequence"].isin(df_hasnat["sequence"]).astype(int)
df_pivote["is_in_gambarini"] = df_pivote["sequence"].isin(df_gambarini["sequence"]).astype(int)

In [20]:
df_pivote[(df_pivote["is_in_gambarini"] == 1) & (df_pivote["is_in_hasnat"] == 1)]

,sequence,is_in_hasnat,is_in_gambarini
37,MGELVMIKPATMEFVSLSNGETIAYQEVGRRNTDILVLIHGNMTSS...,1,1
83,MPITARNTLASLLLASSALLLSGTAFAANPPGGDPDPGCQTDCNYQ...,1,1
87,MRVQSWRSGVAALALWGGVNLAAGAAVPLGQYNIATDQISVSGLSS...,1,1
88,MSQETFFAQQEDCFSSFHNYVQHIGKLQKLQSDNLQDGIRRRQEKS...,1,1
111,YGHFYTEHNRGHHVRVATPEDPASSRLGESFWAFLPRSVWFSAVSA...,1,1
...,...,...,...
1609,MKKVIVFLVFMLFCTATYAQKVSKVVFFGDSLTDNGNLFRLVELIP...,1,1
1611,MTKQSLPQGMADQRLCRFFTAALCSLLMLLLWPTTVTAGQTFSYTS...,1,1
1619,MRIRRQAGTGARASMARAIGVMTTALAVLVGAVGGVAGAEVSTAQD...,1,1
1644,MCLVTLYRCTPIWVRNRGMHKFDFVVVGAGSAGCTVASRLSENGKY...,1,1
1645,MPPDCVLPRRLAAAALLASATLVPLSAAAQTNPYQRGPDPTTRDLE...,1,1

In [21]:
df_pivote["label_hasnat"] = 999
df_pivote["label_gambarini"] = 999

In [22]:
for index in df_pivote.index:
    sequence = df_pivote["sequence"][index]
    is_in_hasnat = df_pivote["is_in_hasnat"][index]
    is_in_gambarini = df_pivote["is_in_gambarini"][index]

    if is_in_gambarini == 1:
        df_filter = df_gambarini[df_gambarini["sequence"] == sequence]
        df_filter.reset_index(inplace=True)

        df_pivote["label_gambarini"][index] = df_filter["plastic_degrading_enzyme"][0]
    if is_in_hasnat == 1:
        df_filter = df_hasnat[df_hasnat["sequence"] == sequence]
        df_filter.reset_index(inplace=True)

        df_pivote["label_hasnat"][index] = df_filter["plastic_degrading_enzyme"][0]

df_pivote

,sequence,is_in_hasnat,is_in_gambarini,label_hasnat,label_gambarini
0,MGFYRNLVLVAASCTQALGLCPAPRCDSPDIRHEWGELSREDRLSY...,1,0,0,999
1,MKENIGDCTIDLTVTSPPYDDLRNYNGYSFNFEETAQELYRVTKEG...,1,0,0,999
2,MTTASPSQVRQNYHQDSEAAINRQINLELYASYVYLSMSYYFDRDD...,1,0,0,999
3,MLEYISSLPKQPISEEEKEGLIEMREEEKLARDVYLTLYNKWKLQI...,1,0,0,999
4,MTAILERRESTSLWGRFCNWVTSTENRLYIGWFGVLMIPTLLTATS...,1,0,0,999
...,...,...,...,...,...
1654,MVSQGGGLSQGSIEENIDVEHLATMPLVSDFLNVLGTTLGQWSLST...,1,0,0,999
1655,MNGGSDLKHATGSGSDPKHAAEMDPDSDAGQVAVALAYQRFEPRAY...,1,0,0,999
1656,MAVMTPRRERSSLLSRALRFTAAAATALVTAVSLAAPAHAANPYER...,1,0,1,999
1657,MSFDISQFPVLAQANTPDELRQLPQAVLPQLADELRGFLLKSVGKS...,1,0,0,999
1658,MPASIPRRNIVGKEKKSRILTKPCVIEYEGQIVGYGSKELRVETIS...,1,0,0,999

In [24]:
df_pivote = df_pivote.drop(columns=["is_in_hasnat", "is_in_gambarini"])

In [26]:
pbb_0 = []
pbb_1 = []

for index in df_pivote.index:
    count_0 = 0
    count_1 = 0

    for column in ["label_hasnat", "label_gambarini"]:
        if df_pivote[column][index] == 0:
            count_0+=1
        if df_pivote[column][index] == 1:
            count_1+=1
    
    pbb_0_value = count_0/(count_0+count_1)
    pbb_1_value = count_1/(count_0+count_1)

    pbb_0.append(pbb_0_value)
    pbb_1.append(pbb_1_value)

df_pivote["pbb_0"] = pbb_0
df_pivote["pbb_1"] = pbb_1

In [27]:
df_pivote

,sequence,label_hasnat,label_gambarini,pbb_0,pbb_1
0,MGFYRNLVLVAASCTQALGLCPAPRCDSPDIRHEWGELSREDRLSY...,0,999,1.0,0.0
1,MKENIGDCTIDLTVTSPPYDDLRNYNGYSFNFEETAQELYRVTKEG...,0,999,1.0,0.0
2,MTTASPSQVRQNYHQDSEAAINRQINLELYASYVYLSMSYYFDRDD...,0,999,1.0,0.0
3,MLEYISSLPKQPISEEEKEGLIEMREEEKLARDVYLTLYNKWKLQI...,0,999,1.0,0.0
4,MTAILERRESTSLWGRFCNWVTSTENRLYIGWFGVLMIPTLLTATS...,0,999,1.0,0.0
...,...,...,...,...,...
1654,MVSQGGGLSQGSIEENIDVEHLATMPLVSDFLNVLGTTLGQWSLST...,0,999,1.0,0.0
1655,MNGGSDLKHATGSGSDPKHAAEMDPDSDAGQVAVALAYQRFEPRAY...,0,999,1.0,0.0
1656,MAVMTPRRERSSLLSRALRFTAAAATALVTAVSLAAPAHAANPYER...,1,999,0.0,1.0
1657,MSFDISQFPVLAQANTPDELRQLPQAVLPQLADELRGFLLKSVGKS...,0,999,1.0,0.0
1658,MPASIPRRNIVGKEKKSRILTKPCVIEYEGQIVGYGSKELRVETIS...,0,999,1.0,0.0

In [28]:
df_pivote[(df_pivote["pbb_1"]>0) & (df_pivote["pbb_0"]>0)]

Empty DataFrame
Columns: [sequence, label_hasnat, label_gambarini, pbb_0, pbb_1]
Index: []

In [29]:
list_labels = []

for index in df_pivote.index:
    if (df_pivote["pbb_0"][index] == 0) and (df_pivote["pbb_1"][index]==1):
        label=1
    else:
        label=0
    list_labels.append(label)

df_pivote["label"] = list_labels
df_pivote["label"].value_counts()

label
0    1478
1     181
Name: count, dtype: int64

In [30]:
df_pivote.to_csv("../../processed_data/processed_pivoted_data.csv", index=False)